@{
    ViewData["Title"] = "Home Page";
}

<div class="text-start" style="margin-top: 120px;">
    <span class="display-5 fw-bold mt-3">Strong Mind</span>
    <h1 class="display-2 fw-bold">Strong Body</h1>
   <hr class="bg-primary" style="height: 4px; width: 80px;" />

    <p class="lead">Join our gym today and achieve your fitness goals with expert trainers and top-tier equipment!</p>

   <span>
        The best way to make sure your body and mind are ready for work is <br /> to wake them up with a <b>good workout</b>.
   </span>

</div>
<div class="d-block mt-5">
    <a class="btn btn-primary" asp-action="SignIn" asp-controller="Home">GET START NOW</a>
    <div class="row">
        <div class="col-lg-4 col-xl-4 col-sm-12 col-12">
            <div class="card mt-5" style="width: 410px; cursor: pointer;">
                <div class="card-body d-flex flex-row p-0">
                    <img class="img-fluid" style="width: 212px; height: 120px;" src="~/image/pic-4.jpg" />
                    <div class="d-flex align-content-center align-items-center ms-3">
                        <span class="fw-light">The Beginning... <br /><b>Shape Your Body Today</b></span>
                    </div>
                </div>
            </div>
        </div> 
        <div class="col-lg-4 col-xl-4 col-sm-12 col-12">
            <div class="card mt-5" style="width: 410px; cursor: pointer;">
                <div class="card-body d-flex flex-row p-0">
                    <img class="img-fluid" style="width: 212px; height: 120px;" src="~/image/pic-2.jpg" />
                    <div class="d-flex align-content-center align-items-center ms-3">
                        <span class="fw-light">The Beginning... <br /><b>Shape Your Body Today</b></span>
                    </div>
                </div>
            </div>
        </div>       
        <div class="col-lg-4 col-xl-4 col-sm-12 col-12">
            <div class="card mt-5" style="width: 410px; cursor: pointer;">
                <div class="card-body d-flex flex-row p-0">
                    <img class="img-fluid" style="width: 212px; height: 120px;" src="~/image/pic-3.jpg" />
                    <div class="d-flex align-content-center align-items-center ms-3">
                        <span class="fw-light">The Beginning... <br /><b>Shape Your Body Today</b></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr class="mt-5"/>
<h5 class="text-center mt-3">
  A certified running coach and personal trainer for over a decade. <br /> I've helped thousands of through 1-1 personalized coaching and fitness Club.
</h5>
<div class="d-flex justify-content-center gap-4 mt-5">
    <img class="img-fluid socail web-socail" src="~/icons/icons8-domain-name-100.png" style="width: 35px;" />
    <img class="img-fluid socail facebook-socail" src="~/icons/icons8-facebook-logo-100.png" style="width: 35px;" />
    <img class="img-fluid socail twitter-socail" src="~/icons/icons8-twitter-bird-100 (1).png" style="width: 35px;" />
</div>

<style>
    .socail:hover{
        cursor: pointer;
    }
</style>